# web
FormsWeb/target/
FormsWeb/nb-configuration.xml

# client
FormsClient/target/
FormsClient/nb-configuration.xml

# .sh and cup and lex java classes
FormsWeb/lex_cup_src/*/*.sh
FormsWeb/lex_cup_src/*/*.java
FormsWeb/lex_cup_src/*/*java~

# archivos creados para almacenamiento
*.db

# carpeta donde se almacenan archivos
DB/

# archivos con solicitudes
*.indigo

# archivos para parseo en cliente
FormsClient/lex_cup_src/*.sh
FormsClient/lex_cup_src/*.java
FormsClient/lex_cup_src/*.java~
