# web
FormsWeb/target/
FormsWeb/nb-configuration.xml

# client
FormsClient/target/
FormsClient/nb-configuration.xml

# .sh
FormsWeb/lex_cup_src/main/*.sh
FormsWeb/lex_cup_src/main/*.java
FormsWeb/lex_cup_src/main/*java~
